[Unit]
Description=Control cooling fan based on CPU temperature
After=multi-user.target

[Service]
Type=simple
Environment=GPIO_CHIP=/dev/gpiochip0
ExecStart=/usr/local/bin/x708-fan.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
